.card {
	box-sizing: border-box;
	padding: var(--spacing-sm);
	background-color: var(--color-primary-light);
	border: 6px solid var(--color-primary);
	border-radius: var(--border-radius-lg);

	.titulo-secao {
		color: var(--color-primary);
	}

	@media (min-width: 768px) {
		padding: var(--spacing-md) var(--spacing-sm);
	}

	@media (min-width: 992px) {
		padding: var(--spacing-lg) var(--spacing-md);
	}
}

.hero {
	display: grid;
	place-content: center;
	width: 100%;
	min-height: 360px;
	background-color: var(--color-primary);

	@media (min-width: 768px) {
		min-height: 420px;
	}

	@media (min-width: 1200px) {
		min-height: 600px;
	}
}

.hero--small {
	min-height: 200px;

	@media (min-width: 768px) {
		min-height: 300px;
	}
}

.hero-conteudo {
	text-align: center;
	color: #fff;
}

.link-destaque {
	display: inline-block;
	padding: 0.5rem 2rem;
	text-decoration: none;
	font-size: var(--font-size-lg);
	font-weight: 700;
	color: var(--color-light);
	background-color: var(--color-secondary);
	border-radius: var(--border-radius-xl);
	cursor: pointer;
	transition: 0.15s;

	&:hover {
		color: var(--color-primary);
		background-color: var(--color-light);
		transform: scale(1.1);
	}
}
