@import "./tipografia.css";
@import "./layout.css";
@import "./components.css";
@import "./util.css";

:root {
	--color-primary: #6701b7;
	--color-primary-light: #efe5f7;
	--color-secondary: #d10092;
	--color-secondary-light: #f7e5f6;
	--color-success: #00cf4f;
	--color-danger: #cf4f00;
	--color-warning: #ffc107;
	--color-light: #fff;
	--color-dark: #232323;
	--color-grey: #bdbdbd;
	--color-grey-light: #f9f9f9;

	--font-size-xs: 0.65rem;
	--font-size-sm: 0.75rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.75rem;
	--font-size-xl: 2.15rem;

	--spacing-xs: 8px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 48px;
	--spacing-xxl: 64px;

	--border-radius-sm: 4px;
	--border-radius-md: 8px;
	--border-radius-lg: 12px;
	--border-radius-xl: 24px;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: var(--color-dark);
	background-color: var(--color-grey-light);
	scroll-behavior: smooth;
}

figure {
	margin: 0;
	padding: 0;
}

figure figcaption {
	box-sizing: border-box;
	display: block;
	padding: 0 var(--spacing-sm);
	text-align: right;
	font-size: var(--font-size-xs);

	> a {
		color: var(--color-dark);
	}
}
